@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

#mainCountryInfoComponent {
  margin-top: 100px;
  width: 100%;
}

#infoBackButton {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#backButtonImg {
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

#backButtonText {
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 17px;
  padding-left: 10px;
}

#countryInfoContainerSpecial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 50px;
  /* background-color: yellow; */
}

#countryInfoFlag {
  width: 45%;
  max-width: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: blue; */
}

#countryInfoEntireContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-width: 600px;
}

#countryInfoMainText {
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 30px;
  text-align: left;
}

#countryInfoMainInfo {
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
}

#countryInfoSectionOne {
}

.infoContainer {
  display: flex;
}

.infoTextBold {
  white-space: nowrap;
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 15px;
}

.infoTextNormal {
  font-family: "Nunito Sans";
  font-weight: 300;
  font-size: 15px;
  margin-left: 5px;
}

#countryInfoSectionTwo {
}

#countryBorderContainer {
  display: flex;
}

#countryBorderText {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 17px;
  text-align: left;
}

#countryBorders {
}

@media (max-width: 1300px) {
  #countryInfoEntireContainer {
    width: 50%;
  }
}

@media (max-width: 700px) {
  #mainCountryInfoComponent {
    margin-top: 30px;
  }

  #countryInfoContainerSpecial {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }

  #countryInfoFlag {
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-position: top;
  }

  #countryInfoEntireContainer {
    width: 100%;
  }

  #countryInfoMainText {
    margin-bottom: 20px;
  }

  #countryInfoMainInfo {
    flex-direction: column;
  }

  #countryInfoSectionOne {
  }

  .infoContainer {
    line-height: 0;
  }

  #countryInfoSectionTwo {
    margin-top: 50px;
  }

  #countryBorderContainer {
    margin-top: 20px;
  }

  #countryBorderText {
  }
}

@media (max-width: 500px) {
  #countryInfoFlag {
    height: 270px;
  }
}
