#mainCountriesContainerComponent {
  margin-top: 50px;
  width: 100%;
}

#countriesGridContainer {
  width: 100%;
  display: grid;
  justify-content: space-between;
  row-gap: 100px;
}

@media (max-width: 685px) {
  #countriesGridContainer {
    justify-content: center;
    align-items: center;
  }
}
