@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

#appHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 10px rgba(82, 82, 82, 0.2);
}

#headerText {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 20px;
  color: #111517;
}

#darkLightContainer {
  display: flex;
  align-items: center;
}

#darkLightIcon {
  width: 15px;
  height: 15px;
  filter: brightness(0) saturate(100%) invert(6%) sepia(7%) saturate(1466%) hue-rotate(155deg) brightness(87%) contrast(94%);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

#darkLightText {
  font-family: "Nunito Sans";
  font-weight: 600;
  color: #111517;
}
